@use '_colores' as c;

* {
    margin: 0;
    padding: 0;
}

.color__claro {
    background-color: map-get(c.$color, "color_txt_boton");
}


.btn__fondo {
    background-color: map-get(c.$color, "fondo__boton");
}

.color__negro {
    background-color: map-get(c.$color, "color__negro");
    border-bottom: 3px solid map-get(c.$color, "fondo__boton");
}

.navbar a {
    color: map-get(c.$color, "color_txt_boton");

    &:hover {
        color: map-get(c.$color, "fondo__boton");
    }

}

.centrar__txt__marketycursos {
    text-align: center;
    padding-top: 20px;

    a {
        text-decoration: none;
        text-shadow: 0px 0px 5px map-get(c.$color, "fondo__boton");
        color: map-get(c.$color, "color__negro");

        &:hover {
            color: map-get(c.$color, "fondo__boton");
        }
    }
}


/* centrar y decorado de imagen de contruccion */
.centrar__img {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;

    img {
        width: 80%;
    }
}




a {
    font-weight: bold;
    text-decoration: none;
}

.img__no__desborde {
    width: 100%;
}

.h1__new {
    // font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    color: map-get(c.$color, "color__negro");
    font-size: 54px;
    text-shadow: 0px 0px 5px map-get(c.$color, "color__negro");
    /* background:linear-gradient(#333333 0%, white 50%, #333333 100%); */
}

.h2 {
    @extend .h1__new;
    color: map-get(c.$color, "color_txt_boton");
    text-shadow: 0px 0px 5px map-get(c.$color, "color_txt_boton");
    font-size: 40px;
    margin-top: 20px;
}

.h2__oscura {
    @extend .h1__new;
    font-weight: 500;
    font-size: 40px;


}

.oculta__mobile {
    display: none;
}

.oculta__pc {
    &:hover {
        box-shadow: 0px -9px 6px 8px map-get(c.$color, "fondo__boton");
    }
}




/* declaro la clase del container para el index */
#container__index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:


        "gmenu"
        "gheader"
        "gmain"
        "gvideos"
        "gsponsor"
        "gfooter"
    ;
}


.grid__menu {
    grid-area: gmenu;
    margin-bottom: 30px;
}

.grid__header {
    grid-area: gheader;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}


.grid__noticias {
    grid-area: gmain;

}

.grid__videos {
    grid-area: gvideos;
    text-align: center;
    background-color: map-get(c.$color, "color__negro");
}

.grid__sponsor {
    grid-area: gsponsor;
    background-color: map-get(c.$color, "color_txt_boton");

}

.grid__footer {
    grid-area: gfooter;
    text-align: center;
}