* {
  margin: 0;
  padding: 0;
}

.color__claro {
  background-color: #fffffe;
}

.btn__fondo {
  background-color: #ff8906;
}

.color__negro {
  background-color: #0f0e17;
  border-bottom: 3px solid #ff8906;
}

.navbar a {
  color: #fffffe;
}
.navbar a:hover {
  color: #ff8906;
}

.centrar__txt__marketycursos {
  text-align: center;
  padding-top: 20px;
}
.centrar__txt__marketycursos a {
  text-decoration: none;
  text-shadow: 0px 0px 5px #ff8906;
  color: #0f0e17;
}
.centrar__txt__marketycursos a:hover {
  color: #ff8906;
}

/* centrar y decorado de imagen de contruccion */
.centrar__img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
}
.centrar__img img {
  width: 80%;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.img__no__desborde {
  width: 100%;
}

.h1__new, .h2__oscura, .h2 {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  color: #0f0e17;
  font-size: 44px;
  text-shadow: 0px 0px 5px #0f0e17;
  /* background:linear-gradient(#333333 0%, white 50%, #333333 100%); */
}

.h2 {
  color: #fffffe;
  text-shadow: 0px 0px 5px #fffffe;
  font-size: 40px;
  margin-top: 20px;
}

.h2__oscura {
  font-weight: 500;
  font-size: 30px;
}

.oculta__mobile {
  display: none;
}

.oculta__pc:hover {
  box-shadow: 0px -9px 6px 8px #ff8906;
}

/* declaro la clase del container para el index */
#container__index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "gmenu" "gheader" "gmain" "gvideos" "gsponsor" "gfooter";
}

.grid__menu {
  grid-area: gmenu;
  margin-bottom: 30px;
}

.grid__header {
  grid-area: gheader;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.grid__noticias {
  grid-area: gmain;
}

.grid__videos {
  grid-area: gvideos;
  text-align: center;
  background-color: #0f0e17;
}

.grid__sponsor {
  grid-area: gsponsor;
  background-color: #fffffe;
}

.grid__footer {
  grid-area: gfooter;
  text-align: center;
}

.h5__carousel {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 0.2em #ff8906, 0 0 0.2em #ff8906;
}

.p__carousel {
  text-shadow: 1px 1px 2px black, 0 0 1em #ff8906, 0 0 0.2em #ff8906;
  font-size: 1.5em;
}

/* inicio de card*/
.mi__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.mi__card {
  background: #0f0e17;
  margin-top: 20px;
  display: flex;
  width: 95%;
  /*editar en escritorio*/
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 #0f0e17;
}
.mi__card img {
  width: 130px;
  /*editar en escritorio a 150*/
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fffffe;
  border-radius: 10px;
  display: block;
}

.card__mobile {
  /* esta card se habilita en tablet o escritorio*/
  margin-top: 20px;
  display: flex;
  width: 95%;
  /*editar en escritorio*/
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 black 0, 0, 0, 0.6;
  display: none;
}

.contenido__texto__card {
  width: 40%;
  background-color: #0f0e17;
}
.contenido__texto__card h4 {
  color: #fffffe;
  text-align: left;
}
.contenido__texto__card p {
  color: #a7a9be;
  font-weight: 300;
  padding-top: 15px;
  text-align: left;
}
.contenido__texto__card a {
  text-decoration: none;
  color: #fffffe;
  font-size: 12px;
  font: bold;
}
.contenido__texto__card a:hover {
  text-shadow: 0px 0px 5px #ff8906;
  color: #fffffe;
  font-style: oblique;
}

/* aca terminan las cards.*/
/*aca arranca la config de youtube*/
.div__alinear, .div__alinear__mobile {
  display: inline-block;
  border: 5px solid #fffffe;
  box-shadow: 0 0 20px 0 #fffffe;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #fffffe;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.div__alinear__mobile {
  display: none;
}

.canal__youtube {
  text-align: right;
  margin-right: 10px;
  background-color: #0f0e17;
}
.canal__youtube a {
  text-decoration: none;
  color: #fffffe;
  font-size: 14px;
}
.canal__youtube a:hover {
  text-shadow: 0px 0px 5px #ff8906;
  color: #fffffe;
  font-style: oblique;
}

/* aca termina la seccion de youtube*/
@-webkit-keyframes scroll {
  1% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(-3000px);
  }
}
@keyframes scroll {
  1% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(-3000px);
  }
}
.slider {
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, #fffffe 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 150px;
  width: 250px;
}

/*Empieza el footer*/
.alinea__footer2 {
  height: 0px;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #0f0e17;
}

footer div a img {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
footer div a img:hover {
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

footer section div a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
footer section div a:hover {
  color: #fff;
  font-size: 16px;
  text-shadow: 3px 3px 5px #ff8906;
}

.pie {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffffe;
}
.pie a {
  text-decoration: none;
  color: #0f0e17;
  font-size: 12px;
}
.pie a:hover {
  color: #ff8906;
  font-size: 14px;
  font-style: oblique;
  text-shadow: 10px 10px 5px black;
}

/*aca termina el footer*/
.centrar__frm {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 30px;
}

.alinear__img__frm img {
  width: 350px;
  height: 400px;
  border-radius: 6px;
  box-shadow: 0 0 6px 3px #0f0e17;
  display: none;
}

form {
  width: 350px;
  padding: 6px;
  border-radius: 6px;
  margin: auto;
  background-color: #0f0e17;
  box-shadow: 0 0 6px 3px #0f0e17;
}
form label {
  width: 40%;
  font-weight: bold;
  display: inline-block;
  color: #fffffe;
}

form input[type=text],
form select,
form input[type=email] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #ff8906;
  border-radius: 3px;
  background-color: #fffffe;
  margin: 8px 0;
  display: inline-block;
}

form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #fffffe;
  border-radius: 5px;
  display: block;
  color: #fffffe;
  background-color: #ff8906;
}
form input[type=submit]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ff8906;
  border-radius: 3px;
  background-color: #fffffe;
  margin: 8px 0;
  resize: none;
  display: block;
}

/*Fin Form*/
/* vista de tablet */
@media only screen and (min-width: 768px) {
  .h1__new {
    font-size: 54px;
  }
  .mi__card {
    background: #0f0e17;
    margin-top: 20px;
    display: flex;
    width: 48%;
    /*editar en escritorio*/
    height: 320px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #0f0e17;
  }
  .mi__card img {
    width: 150px;
    /*editar en escritorio a 150*/
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 3px solid #fffffe;
    border-radius: 10px;
    display: block;
  }
  .card__mobile {
    /* esta card se habilita en tablet o escritorio*/
    background: #0f0e17;
    margin-top: 20px;
    display: flex;
    width: 48%;
    /*editar en escritorio*/
    height: 320px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #0f0e17;
  }
  .card__mobile img {
    width: 150px;
    /*editar en escritorio a 150*/
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 3px solid #fffffe;
    border-radius: 10px;
    display: block;
  }
  .alinear__img__frm img {
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  .oculta__mobile {
    display: inline-block;
  }
  .oculta__mobile:hover {
    box-shadow: 0px -9px 6px 8px #ff8906;
  }
  .oculta__pc {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .mi__card {
    background: #0f0e17;
    margin-top: 20px;
    display: flex;
    width: 46%;
    /*editar en escritorio*/
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #0f0e17;
  }
  .mi__card img {
    width: 150px;
    /*editar en escritorio a 150*/
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 3px solid #fffffe;
    border-radius: 10px;
    display: block;
  }
  .card__mobile {
    /* esta card se habilita en tablet o escritorio*/
    background: #0f0e17;
    margin-top: 20px;
    display: flex;
    width: 46%;
    /*editar en escritorio*/
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #0f0e17;
  }
  .card__mobile img {
    width: 150px;
    /*editar en escritorio a 150*/
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 3px solid #fffffe;
    border-radius: 10px;
    display: block;
  }
  .div__alinear__mobile {
    /* estye video se habilita con escritorio y tablet*/
    display: inline-block;
  }
  .centrar__img img {
    width: 500px;
  }
}/*# sourceMappingURL=main.css.map */